* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
      font-size: 24px;
      line-height: 32px;
      color: #ffffff;
      background-image: url("../images/black_paper.png");
  }


  .header {
      width: 100%;
      background-color: gray;
      overflow: auto;
      border-style: none none solid none;
      font-family: 'Arial';
      font-size: 18px;
      color: #777777;
      border: 3px solid black;
  }
  aside {
      float: left;
      width: 25%;
      margin-left: 150px;
      padding: 15px;
      background: -webkit-radial-gradient(circle, rgb(46, 46, 46), gray);
      color: #ffffff;
      font-family: 'Georgia', Times, Times New Roman, serif;
      font-size: 28px;
      text-align: center;
  }


     ul {
      list-style-type: none;
      margin: 0 30px 0 0;
      padding: 0;
      overflow: hidden;
      background-color: gray;
    }
    
    li {
      float: right;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    a {
      color: white;
      /* text-align: center; */
      text-decoration: none;
    }
    
    li a:hover {
      background: -webkit-radial-gradient(circle, rgb(46, 46, 46), gray);
    }

  .mainbox {
      background-image: url("../images/green_cup.png");
      overflow: auto;
      width: 960px;
      height: 490px;
      padding: 0 30px 0 30px;
      margin: 20px 0 20px 150px; 
      border: 3px solid black;
      border-radius: 15px;
      -moz-box-shadow:    inset 0 0 20px #000000;
     -webkit-box-shadow: inset 0 0 20px #000000;
      box-shadow:         inset 0 0 20px #000000;
      }


  h2 {
      font-family: "Georgia";
      float: top;
      text-align: center;
      font-size: 26px;
      border-style: none none solid none;
      color: white;
      background: -webkit-radial-gradient(circle, rgb(46, 46, 46), gray);
      border: 1px solid black;
      border-radius: 10px;
      -moz-box-shadow:    inset 0 0 20px #000000;
     -webkit-box-shadow: inset 0 0 20px #000000;
      box-shadow:         inset 0 0 20px #000000;
      }

  p {
      text-align: left;
      font-family: 'Arial';
      font-size: 20px;
      color: black;
  }
  button {
      background-color: #4aaaa5;
      color: #ffffff;
      font-size: 14px;
      font-family: 'Arial';
      padding: 20px;
      text-align: left;
      float: left;

  }


  .container{
      width: 100%;
      height: 30%;
  }

  .pbox {
      width: 150px;
      height: 150px;
      margin: 10px;
      float: left;
      position: relative;
  }



  .ptitle {
        color: white;
        background: rgb(85, 83, 83);
        text-align: center;
        font-size: 16px;
        padding: 10px 0;
        position: absolute;
        bottom: 20px;
        width: 150px;
  }

   footer {
      background-color: #666666;
      padding: 20px;
      clear: both;
      font-family: "Arial";
      font-size: 10px;
      color: #ffffff;
      border-style: solid none none none;
      border-width: 8px;
      text-align: center;
      border: 3px solid black;
      border-radius: 15px;
      -moz-box-shadow:    inset 0 0 20px #000000;
     -webkit-box-shadow: inset 0 0 20px #000000;
      box-shadow:         inset 0 0 20px #000000;
  }

  .hvrbox * {
    box-sizing: border-box;
  }
  .hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  .hvrbox img {
    max-width: 100%;
  }
  .hvrbox .hvrbox-layer_bottom {
    display: block;
  }
  .hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .hvrbox:hover .hvrbox-layer_top,
  .hvrbox.active .hvrbox-layer_top {
    opacity: 1;
  }
  .hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
  }
  .hvrbox.active .hvrbox-text_mobile {
    display: block;
  }
  
  @media screen and (max-width: 980px) {
  
  
    .wrapper {
      width: 100%;
      
    }
  
    .header,
    .mainbox {
      width: 100%;
    }
  
    .mainbox {
      margin: 40px 50px 0 0;
    }
  }

  
  @media screen and (max-width: 769px) {
  
  
    .wrapper {
      width: 100%;
      
    }
  
    .header,
    .mainbox 
    .container {
      width: 100%;
    }
  
    .mainbox {
      margin: 40px 50px 0 0;
    }
  } 


  @media screen and (max-width: 643px) {
  
  
    .wrapper {
      /* Box-model */
      width: 100%;
      
    }
  
    .header,
    .mainbox,
    .container {
      width: 100%;
    }
  
    .header {
        padding: 0;
    }

    .mainbox {
      margin: 40px 50px 0 0;
    }
  } 